{% load recipe_filter %}
{% if user.is_favorite_recipe or recipe|exists:favorite_recipes %}
    <button class="button button_style_none" name="favorites"><span class="icon-favorite {% if type == 'single_page' %}icon-favorite_big{% endif %} icon-favorite_active"></span></button>
    {% if type == 'single_page' %}
        <div class="single-card__favorite-tooltip tooltip">Удалить из избранного</div>
    {% endif %}
{% else %}
    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite {% if type == 'single_page' %}icon-favorite_big{% endif %}"></span></button>
    {% if type == 'single_page' %}
        <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
    {% endif %}
{% endif %}