{% load recipe_filter %}
{% if user.is_purchase_recipe or recipe|exists:purchase_recipes %}
    <button class="button {% if type == 'generic' %}button_style_light-blue-outline{% elif type == 'single_page' %}button_style_blue{% endif %}" name="purchases"><span class="icon-check {% if type == 'single_page' %}button__icon{% endif %}"></span>Рецепт добавлен</button>
{% else %}
    <button class="button {% if type == 'generic' %}button_style_light-blue{% elif type == 'single_page' %}button button_style_blue{% endif %}" name="purchases" data-out><span class="icon-plus {% if type == 'single_page' %}button__icon{% endif %}"></span>Добавить в покупки</button>
{% endif %}