{% if type == 'subscriptions' %}
    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
{% else %}
    {% if following and author != user %}
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button>
    {% elif user.is_authenticated and not following and author != user %}
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button>
    {% endif %}
{% endif %}