{% load static %}
{% load modulo %}
<div class="card-user" data-author="{{ author.username }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ author.get_full_name }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% with author.recipes.all as recipes %}
            {% for recipe in recipes|slice:":3" %}
            <li class="card-user__item">
                <div class="recipe">
                    <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                </div>
            </li>
            {% endfor %}
            {% if recipes.count > 3 %}
            {% with recipes.count|add:"-3" as count%}
            <li class="card-user__item">
                <a href="{% url 'profile' author.username %}" class="card-user__link link">Еще {{ count }} 
                    {% if count > 4 and  21 > count  %} рецептов...
                    {% elif count|modulo:10 == 1 %} рецепт...
                    {% elif 1 < count|modulo:10 < 5 %} рецепта...
                    {% endif %}
                </a>
            </li>
            {% endwith %}
            {% endif %}
            {% endwith %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>