{% load static %}
{% load tag_filter %}
{% load recipe_filter %}
<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.id %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% get_recipe_tags recipe.tags.all as tags %}
            {% for tag, params in tags.items %}
                {% if params.status == 'on' %}
                <li class="card__item"><span class="badge {{ params.badge }}">{{ params.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% if recipe|exists:purchase_recipes %}
            {% include 'includes/buttons/remove_from_purchases.html' %}
            {% else %}
            {% include 'includes/buttons/add_to_purchases.html' %}
            {% endif %}
            {% if recipe|exists:favorite_recipes %}
            {% include 'includes/buttons/remove_from_favorites.html' %}
            {% else %}
            {% include 'includes/buttons/add_to_favorites.html' %}
            {% endif %}
        {% endif %}
    </div>
</div>