{% load tag_filter %}
<ul class="tags">
    {% get_tags request as tags %}
    {% for tag, params in tags.items %}
    <li class="tags__item">
        {% if params.status == "on" %}
        <a id="{{ tag }}" class="tags__checkbox {{ params.style }} tags__checkbox_active" href="{{ request.path }}?{{ params.path }}"></a>
        {% else %}
        <a id="{{ tag }}" class="tags__checkbox {{ params.style }}" href="{{ request.path }}?{{ params.path }}"></a>
        {% endif %}
        <span class="tags__label">{{ params.name }}</span>
    </li>
    {% endfor %}
</ul>