{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block header %}Сброс пароля{% endblock %}
{% block css %}{% static 'pages/form.css' %}{% endblock %}
{% block content %}
  {% if validlink %}
    <h3>Изменение пароля</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Измененить пароль</button>
    </form>
    {% else %}
      <p>
        Неверная ссылка для изменения пароля.
        Повторите запрос на смену пароля.
      </p>
  {% endif %}
{% endblock %}