{% extends "base.html" %}
{% load static %}
{% block title %}Рецепты{% endblock %}
{% block header %}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}
{% block content %}
{% csrf_token %}
    <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ author.username }}">
        <img src="{{ recipe.image.url }}" alt="какой-то текст" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.title }}</h1>
                {% if user.is_authenticated and not favorite_recipe %}
                <div class="single-card__favorite">
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                </div>
                {% elif user.is_authenticated and favorite_recipe %}
                <div class="single-card__favorite">
                    <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Удалить из избранного</div>
                </div>
                {% endif %}
            </div>
            <ul class="single-card__items">
                {% for tag in recipe.tags.all %}
                    {% if "lunch" == tag.name %} <li class="single-card__item"><span class="badge badge_style_green">Обед</span></li> {% endif %}
                    {% if "breakfast" == tag.name %} <li class="single-card__item"><span class="badge badge_style_orange">Завтрак</span></li> {% endif %}
                    {% if "dinner" == tag.name %} <li class="single-card__item"><span class="badge badge_style_purple">Ужин</span></li> {% endif %}
                {% endfor %}
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                <ul class="single-card__items">
                    <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> {{ recipe.author }}</p></li>
                    {% if user == author %}
                    <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.author.username recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="single-card__items">
                {% if user.is_authenticated and purchase_recipe %}
                <li class="single-card__item"><button class="button button_style_blue" name="purchases"><span class="icon-check"></span> Рецепт добавлен</button></li>
                {% elif user.is_authenticated and not purchase_recipe %}
                <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span class="icon-plus"></span> Добавить в покупки</button></li>
                {% endif %}
                {% if following and author != user %}
                <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></li>
                {% elif not following and author != user %}
                <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></li>
                {% endif %}
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингридиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for ingredient in ingredients %}
                        <p class=" single-card__section-item">{{ ingredient.ingredient }} - {{ ingredient.quantity }} {{ ingredient.ingredient.unit }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ recipe.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'singlePage.js' %}"></script>
{% else %}
<script src="{% static 'singlePageNotAuth.js' %}"></script>
{% endif %}
{% endblock %}