{% extends "base.html" %}
{% load static %}
{% block title %}Рецепты{% endblock %}
{% block header %}{{ author.get_full_name }}{% endblock %}
{% block css %}{% static 'pages/index.css' %}{% endblock %}
{% block tags %}{% include "includes/tags.html" %}{% endblock %}
{% block content %}
    {% csrf_token %}
        <div class="author-subscribe" data-author="{{ author.username }}">
            {% include 'includes/buttons/subscribe_button.html' with type='author' %}
        </div>
        <div class="card-list" >
            {% for recipe in page %}
                {% include "includes/recipe_card.html" with recipe=recipe favorite_recipes=favorite_recipes %}
            {% endfor %}
        </div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/components/MainCards.js' %}"></script> 
    
    <script src="{% static 'js/components/Purchases.js' %}"></script> 
    <script src="{% static 'js/components/Favorites.js' %}"></script> 
    <script src="{% static 'js/components/Subscribe.js' %}"></script> 

    <script src="{% static 'js/config/config.js' %}"></script> 
    <script src="{% static 'js/components/AuthorRecipe.js' %}"></script> 
    <script src="{% static 'js/components/Header.js' %}"></script> 

    <script src="{% static 'js/api/Api.js' %}"></script> 
    <script src="{% static 'authorRecipe.js' %}"></script> 
{% endblock %}