{% extends "base.html" %}
{% load static %}
{% block title %}Создание рецепта{% endblock %}
{% block header %}Создание рецепта{% endblock %}
{% block css %}{% static 'pages/form.css' %}{% endblock %}
{% block content %}
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="title" class="form__input" value="{{ form.title.value|default_if_none:'' }}">
                    {% if form.errors %}
                        {% for error in form.title.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                    {% if db_error %}
                        <span class="form__error">{{ db_error }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag, params in tag_params.items %}
                        <div class="tags__item">
                            <input type="checkbox" name="{{ tag }}" id="id_{{ tag }}" class="tags__checkbox {{ params.style }}" checked>
                            <label for="id_{{ tag }}" class="tags__label">{{ params.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% if tag_error %}
                        <span class="form__error">{{ tag_error }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="quantity" class="form__input" min="0">
                        <label for="quantity" class="form__label" id="quantityVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="cooking_time" class="form__input" value="{{ form.cooking_time.value|default_if_none:'' }}">
                    <label for="id_time" class="form__label">минут</label>
                    {% if form.errors %}
                        {% for error in form.cooking_time.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="text" id="id_description" rows="8" class="form__textarea">{{ form.text.value|default_if_none:"" }}</textarea>
                    {% if form.errors %}
                        {% for error in form.text.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="id_file" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" name="image" id="id_file">
                    <span id="file_name" class="form__label"></span>
                    {% if form.errors %}
                        {% for error in form.image.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Создать рецепт</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/config/config.js' %}"></script> 
    <script src="{% static 'js/components/Header.js' %}"></script> 
    <script src="{% static 'js/utils/debouncing.js' %}"></script> 
    <script src="{% static 'js/api/Api.js' %}"></script> 
    <script src="{% static 'formRecipe.js' %}"></script>
{% endblock %}