{% extends "base.html" %}
{% load static %}
{% block title %}Список покупок{% endblock %}
{% block header %}Список покупок{% endblock %}
{% block css %}{% static 'pages/shopList.css' %}{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in recipe_list %}
                {% include "includes/purchase_card.html" with recipe=recipe %}
            {% endfor %}
        </ul>
        <a href="{% url 'get_purchases' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock %}